// primary color
$primary-color: #323232;

// search border color
$search-border-color: #E1E1E1;

// video control background
$video-control-background: rgb(0 0 0 / 0.50);
$progress-line-border-color: #000000;

// upload button color
$upload-button-background: #0095FF;
$upload-button-font-color: #ffffff;

// video date color
$video-date-text-color: #AFAFAF;
$video-description-border: #E1E1E1;

// comments area colors
$comment-form-label-color: #AFAFAF;
$comment-button-color: #ffffff;
$comments-form-border-color: #E1E1E1;
$comments-form-border-focus-color: #0095FF;
$comments-form-bottom-border-color: #E1E1E1;
$comments-avatar-background-color: #E1E1E1;
$comment-date-text-color: #AFAFAF;

// next video 
$next-video-title-font-color: #AFAFAF;

// viewports
$tablet-viewport: 768px;

// mobile right left padding
$mobile-right-left-padding: 1rem;
$tablet-right-left-padding: 1.5rem;