@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Regular.ttf") format("truetype"), url("../assets/fonts/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Thin") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Bold.ttf") format("truetype"), url("../assets/fonts/AvenirNextLTPro-Bold.svg#AvenirNextLTPro-Thin") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Demi.ttf") format("truetype"), url("../assets/fonts/AvenirNextLTPro-Demi.svg#AvenirNextLTPro-Thin") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-It.eot") format("embedded-opentype"), url("../assets/fonts/AvenirNextLTPro-It.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-It.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-It.ttf") format("truetype"), url("../assets/fonts/AvenirNextLTPro-It.svg#AvenirNextLTPro-Thin") format("svg");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-BoldIt.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/AvenirNextLTPro-BoldIt.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-BoldIt.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-BoldIt.ttf") format("truetype"), url("../assets/fonts/AvenirNextLTPro-BoldIt.svg#AvenirNextLTPro-Thin") format("svg");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-DemiIt.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/AvenirNextLTPro-DemiIt.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-DemiIt.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-DemiIt.ttf") format("truetype"), url("../assets/fonts/AvenirNextLTPro-DemiIt.svg#AvenirNextLTPro-Thin") format("svg");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

// //base font
$base-font-family: 'Avenir';