@use '../../partials/variables'as *;
@use '../../partials/mixins'as *;


.upload-button {
  width: 100%;
  margin-right: 1rem;
  @include buttons;

  &:hover {
    background-color: $cta-hover-color;
  }

  @include tablet {
    margin-right: 1.5rem;
    width: 118px;
  }


  &__icon {
    margin-right: 0.5rem;
  }

  &__text {
    color: $upload-button-font-color;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.875rem;
  }
}