@use '../../partials//variables'as *;
@use '../../partials/mixins'as *;

.video-description {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;

  @include tablet {
    margin-bottom: 4rem;
  }

  @include desktop {
    margin-bottom: 3rem;
  }

  &__title {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1rem;

    @include tablet {
      font-size: 2.25rem;
      margin-bottom: 1.5rem;
      line-height: 3rem;
    }
  }
}

.video-description-body {
  &__text {
    font-size: 0.75rem;
    line-height: 1.25rem;

    @include tablet {
      width: calc(100vw - 12.5rem);
      font-size: 0.875rem;
      line-height: 1.375rem;
    }

    @include desktop {
      width: 70%;
      ;
    }
  }

}