@use '../../partials/variables'as *;
@use '../../partials/mixins'as *;

.next-videos {

  &__headline {
    font-size: .75rem;
    font-weight: 600;
    color: $next-video-title-font-color;
    margin-bottom: 2.5rem;
  }

  @include desktop {
    padding-top: 3rem;
  }
}