@use '../../partials/variables'as *;
@use '../../partials/mixins'as *;

.additional-information {
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid $video-description-border;

  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.5rem;
    margin-bottom: 2.5rem;
  }
}

.author-date-meta {
  margin-bottom: 2rem;

  @include tablet {
    margin-bottom: 0;
  }

  &__author-info {
    font-size: 1rem;
    font-weight: 600;
    margin-right: 0.5rem;
  }

  &__date-info {
    font-size: 0.875rem;
    color: $video-date-text-color;
  }
}