@use '../../partials/mixins'as *;

.video-description-body {
  &__text {
    font-size: 0.75rem;
    line-height: 1.25rem;

    @include tablet {
      width: calc(100vw - 12.5rem);
      font-size: 0.875rem;
      line-height: 1.375rem;
    }

    @include desktop {
      width: 509px;
    }
  }

}