@use '../../partials/mixins'as *;

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

  @include tablet {
    margin-right: calc((100vw/4) - 1.4375rem);
  }
}