@use '../../partials/mixins'as *;


.video-controls {
  position: absolute;
  bottom: 0.5rem;
  left: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  @include tablet {
    bottom: 1rem;
    left: .5rem;
    right: .5rem;
  }

  &__play-pause {
    margin-right: 0.5rem;
    min-width: 48px;
    @include video-controls-common;

    @include tablet {
      min-width: 53px;
      margin-right: 1rem;
    }

    @include desktop {
      min-width: 60px;
    }
  }

  &__progress {
    margin-right: 0.5rem;
    width: 100%;
    @include video-controls-common;

    @include tablet {
      margin-right: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;

    }
  }

  &__progress-line {
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
    height: 5px;
    border-radius: 4px;
    border: 1px solid #000000;

    &::-webkit-progress-bar {
      background-color: black;
    }
  }



  &__length {
    display: none;

    @include tablet {
      display: flex;
      font-size: 0.625rem;
      color: #ffffff;
      max-width: 50px;
      width: 100%;
      margin-right: 1rem;
    }
  }

  &__rest {
    min-width: 78px;
    @include video-controls-common;

    @include tablet {
      min-width: 80px;
    }

    @include desktop {
      min-width: 85px;
    }
  }

  &__full-screen {
    margin-right: .875rem;
    display: flex;
  }

  &__volume {
    display: flex;
  }
}