@use '../../partials/variables'as *;
@use '../../partials/mixins'as *;

.upload {
  margin-top: .5rem;
  border-top: 1px solid $upload-top-border-color;
}

.upload-form-container {
  padding-left: $mobile-right-left-padding;
  padding-right: $mobile-right-left-padding;

  @include tablet {
    padding-left: $tablet-right-left-padding;
    padding-right: $tablet-right-left-padding;
  }

  @include desktop {
    padding-left: $desktop-right-left-padding;
    padding-right: $desktop-right-left-padding;
  }

  &__main {
    @include desktop {
      display: flex;
    }
  }

  &__headline {
    padding-top: 1.5rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;

    @include tablet {
      padding-top: 3rem;
      margin-bottom: 2rem;
      font-size: 2.25rem;
    }
  }
}