@use '../../partials/variables'as *;
@use '../../partials/mixins'as *;

.next-videos {
  padding-left: $mobile-right-left-padding;
  padding-right: $mobile-right-left-padding;

  @include tablet {
    padding-left: $tablet-right-left-padding;
    padding-right: $tablet-right-left-padding;
  }

  &__headline {
    font-size: .75rem;
    font-weight: 600;
    color: $next-video-title-font-color;
    margin-bottom: 2.5rem;
  }

}